@import "tailwindcss";

@theme {
  --font-sans: "Times New Roman", Times, serif;
  --font-headline: "Times New Roman", Times, serif;
  --font-mono: "Times New Roman", Times, serif;
  --font-serif: "Times New Roman", Times, serif;

  --color-surface: #131313;
  --color-surface-container-lowest: #0e0e0e;
  --color-surface-container-low: #1c1b1b;
  --color-surface-container: #201f1f;
  --color-surface-container-high: #2a2a2a;
  --color-surface-container-highest: #353534;
  
  --color-on-surface: #e5e2e1;
  --color-on-surface-variant: #ccc3d2;
  
  --color-primary: #d8b9ff;
  --color-on-primary: #450086;
  --color-primary-container: #300062;
  --color-on-primary-container: #a765ff;
  
  --color-secondary: #d4bbff;
  --color-secondary-container: #54338d;
  
  --color-tertiary: #00daf3;
  --color-on-tertiary: #00363d;
  
  --color-outline-variant: #4a4551;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased overflow-hidden;
  }
}

.nebula-glow {
  background: radial-gradient(circle at center, rgba(216, 185, 255, 0.05) 0%, transparent 70%);
}

.star-field {
  background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px);
  background-size: 550px 550px;
}

.glass-panel {
  @apply bg-surface-container-highest/40 backdrop-blur-xl border border-outline-variant/15;
}
